:root{
    --primary-color: rgb(32, 32, 241);
    --secondary-color: rgb(154, 89, 207);
    --gray-color : hsl(0, 0%, 50%);
    --redlad-color : rgb(221, 86, 86);
    --vaiolet-color:rgb(110, 110, 197);
    
}