@font-face {
    font-family: 'Roboto regular';
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Negrita';
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}