header{
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    
}
header img{
    width: 260px;
}
header h1{
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px gray;
    color: var(--primary-color);
}
header span{
    color: var(--secondary-color);
}