<section id="content">
    <h1>Ultimas Noticias</h1>
    <article>
        <h3>El desarrollo web no es más que copiar y pegar</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet voluptatum aperiam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ullam distinctio. Ducimus error debitis vero corrupti! Possimus, eaque.
        <a href="#">leer mas >></a> 
        </p>
</article>
<article>
    <h3>Cómo hacer un slider con HTML y CSS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet voluptatum aperiam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ullam distinctio. Ducimus error debitis vero corrupti! Possimus, eaque.
        <a href="#">leer mas >></a> 
    </p>
</article>
<article>
    <h3>¿Por qué HTML no es un lenguaje de programación?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet voluptatum aperiam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ullam distinctio. Ducimus error debitis vero corrupti! Possimus, eaque.
        <a href="#">leer mas >></a>    
    </p>
    
</article>
<article>
    <h3>Como poner la primera letra en mayúscula con CSS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet voluptatum aperiam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ullam distinctio. Ducimus error debitis vero corrupti! Possimus, eaque.
        <a href="#">leer mas >></a> 
    </p>
</article>
<article>
    <h3>¿Qué es un lenguaje de marcado?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta amet voluptatum aperiam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ullam distinctio. Ducimus error debitis vero corrupti! Possimus, eaque.
        <a href="#">leer mas >></a> 
    </p>
</article>

<ul class="paginacion">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>....</li>
    <li><a href="#">23</a></li>
</ul>

</section>